:root {
  --primary: #ffffff;
  --primary-text: #19191C;
  --secondary: #ffffff;
  --secondary-text: #ffffff;
  --accent: #000000;
  --accent-text: #19191C;
  --button: #7245F0;
  --logo: #ffffff;
}

