:root {
  --primary: #f2f2f2;
  --primary-text: #333333;
  --secondary: #fefefe;
  --secondary-text: #f2f2f2;
  --accent: #333333;
  --accent-text: #333333;
  --button: #14b8a6;
  --logo: #14b8a6;
}

